<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="./stylesheets/about.css">
</head>
<body>
    <div class="container">
        <h1 class="about-heading">About Us</h1>
        <div class="about-content">
            <div class="info">
                <p>Welcome to our recipe world! We are a passionate team dedicated to sharing our love for cooking and discovering new flavors. Our goal is to provide you with exciting recipes and helpful tips to elevate your culinary experience.</p>
                <p>At our core, we believe that food brings people together. Whether you're a seasoned chef or a beginner in the kitchen, there's always something delightful to create and savor.</p>
                <p>Feel free to explore our collection of recipes, tips, and ideas. Let's embark on this delicious journey together!</p>
            </div>
            <div class="team-photo">
                <img src="./images/chief1.png" alt="Team Photo">
            </div>
        </div>
        <a href="/index" class="back-btn">Back to Home</a>
    </div>
</body>
</html>
