<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="../public/stylesheets/admin_page.css">
</head>
<body>
    <div class="container">
        <h1>Welcome, Admin!</h1>
        <div class="quotes">
            <blockquote>
                "Success usually comes to those who are too busy to be looking for it." - Henry David Thoreau
            </blockquote>
            <blockquote>
                "The only way to do great work is to love what you do." - Steve Jobs
            </blockquote>
        </div>
        <div class="buttons">
            <a href="/users" class="btn">Users Data</a>
            <a href="/contributed-recipes" class="btn">User Submitted Recipes</a>
        </div>
        <div class="professional-quote">
            <p>if you become admin then contact to team !!!</p>
        </div>
    </div>
</body>
</html>
